body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.tema{
    text-align: right ;
    margin-right: 1em;
}
.tema button{
    padding: 0.5em;
}
.conteiner-white{
    background-color: white;
}
.conteiner-black{
    background-color: black;
}
.conteiner-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;

}
.conteiner-box{
    padding: 1em;
    width: 200px;
    height: 300px;
    margin: auto;
    border-radius: 2%;

    text-align: center;
    box-sizing: border-box;
}
.conteiner-box:hover{
    outline: 0.1px rgb(248, 245, 245) solid;
    cursor: pointer;
    box-shadow: 1px black;
}
.box-image{
    height: 60%;
    box-sizing: border-box;
}
.box-imagem{
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.box-title{
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.box-desc{
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    background-color: white;
}
.box-desc p{
    overflow:hidden;    
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;
    text-align: left;
}
.teste{
    text-align: center;
    font-size: 18px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}