html, body{
    background: linear-gradient(to bottom, rgb(52, 150, 157), rgb(82, 232, 242));    
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    justify-content:center;
    align-items: center;
}
i{
    font-size: 2em;
    padding: 0;
    margin: 0;
}
h6{
    margin: 0 0 0.2em 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.conteiner-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2em 16em;
    box-sizing: border-box;
    
}
.box{
    width: 32%;
    margin-bottom: 1em;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0 0 2px black; 
}
.box-card{
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;

}
.card{

}
.box-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.box-card-icon{
    width: 50%;
    background-color: rgb(231, 231, 231);
    font-size: 1em;
    padding: 0.5em 0;

}
.icon-image{
    padding: 0;
    margin: 0;
    width: 14%;
}
.box-card-icon:hover .icon-image{
    cursor: pointer;
}
.card1{
    text-align: right;
    padding-right: 0.6em;
}
.card2{
    text-align: left;
    padding-left: 0.6em;

}

.box-card-img{
    width: 30%;
    border-radius: 50%;
    margin: 0;
    transform: translateY(70px);
    border: 0.5px solid white;

}.box-card-img:hover{
    border: 0.5px solid  rgb(82, 232, 242);
    cursor: pointer;
}

.box-card-ul{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    background-image: url('../img/arvores.avif') ;
    background-repeat: no-repeat;
    background-size: cover;

}
.box-card-name{
    padding: 4em 0 2.5em 0;
    width: 100%;
    font-size: 0.8em;
    background-color: white;
    text-align: center;
}






