html, body{
    background: linear-gradient(to bottom, rgb(52, 150, 157), rgb(82, 232, 242));    
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    justify-content:center;
    align-items: center;
}
i{
    font-size: 2em;
    padding: 0;
    margin: 0;
}
h6{
    margin: 0 0 0.2em 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.conteiner-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 4em;
    box-sizing: border-box;
    
}
.box{
    width: 30%;
    margin-bottom: 1em;
}
.box-card{
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;

}
.card{

}
.box-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.box-card-img{
    width: 25%;
    border-radius: 50%;
    margin: 0;
    transform: translateY(65px);

}
.box-card-ul{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    background-image: url('../img/arvores.avif') ;
    background-repeat: no-repeat;
    background-size: cover;

}
.box-card-name{
    padding: 3em 0;
    width: 100%;
    font-size: 0.8em;
    background-color: white;
}
.box-card-icon{
    width: 49%;
    background-color: gray;
    font-size: 1em;
    padding: 0 0.2em 0 0;
}


.icon-image{
    max-width: 70%;
    opacity: 0.6;
    width: 7%;
}


