body {
    font-family: roboto;
    margin: 0;
    padding: 0;
   
}
.img{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
h1{
    margin: 0;
}
.h2{
    margin: 0;
}
.text-dec h1{
    margin: 0.5em 0 0.5em 0;
}
.text-dec p{
    margin: 0 0 1em 0;
}
li{
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    margin: 0;
    padding: 0;
}
.logo{
    width: 80%;
}
.logo2{
    width: 20%;
}
.img_btn{
    display: flex;
    justify-content: space-between;
}
.button{
    padding: 0.5em;
    background-color:rgb(0,147,128);
    border: none;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
}

#topBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(0,147,128); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#topBtn:hover {
    background-color: rgb(56,90,100);
}

@media screen and (max-width: 480px) {
  /* dispositivos móveis */
  .top-nav{
    background-color: white;
    text-align: center;
    color: black;
    display: none;   
    border-top: solid 0.02px rgba(224, 224, 224, 0.831);
}
.top-nav-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
}
.clearfix:after, .row:after{
    content: ' ';
    display: block;
    clear: both;
}
.top-header{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;

}
.top-header-logo{
    width: 18em;
    text-align: center;
    align-items: center;
    padding: 0.8em;

}
.botao{
    background-color: white;
    border: none;
    text-align: center;
    align-items: center;
    color: rgb(0,147,128);
    font-size: 1.6em;
    padding: 0.6em 0.8em;
}
.menu_open{
    display: block;
    list-style:none;
}

.nav-link{
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-bottom: solid 0.02px rgba(224, 224, 224, 0.831);
}
.nav-link:hover{
    background-color: rgb(0,147,128);
    color: white;
}
.nav-link a{
    padding: 1em 9em;
}
.nav-link a:hover{
    color: white;
}
nav {
    padding: 0.4em;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: rgb(56,90,100);
    margin: 0;
    font-size: 1.1; 
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
}

main{
    padding: 1em;
}
.ref-title{
    color: rgb(56,90,100);
    margin: 0;
    text-align: center;
    padding: 0.1em;
    margin-bottom: 1em;
}

.conteiner{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1em;
}
.banner-text{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.banner-foto{
    width: 100%;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}
.foto{
    width: 100%;

}
.text-dec{
    padding: 1em;
    margin: 0;
}
.text-dec h1{
    margin: 0 0 0.5em 0;
}
.banner-text h1{
    font-size: 3em;
}

.banner-text p{
    font-size: 1.5em;
}
.conteiner-scrow{
    display: none;
    height: 3em;
    align-items:center;
    justify-content: space-between;
    gap: 1em;
    padding: 0 2.5em;   
    margin-bottom: 1em; 
}
.scrow{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
    width: 50%;
}
.scrow-text{
    font-size: 1.3em;
    color: rgb(56,90,100);
}
.link-to-me2{
    margin: 1em;
}

.scrow-icon{
    width: 5%;

    animation: swing .6s infinite alternate;
}   
.icon{
    width: 6.5%;
}
@keyframes swing {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(5px);
    }
}
.conteiner-about{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 1em;

} 
.sobre-mim{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    color: rgb(56,90,100);
    box-sizing: border-box;

} 
.article-foto{
    text-align: center;
    box-sizing: border-box;
}
.a-foto{
    width: 40%;
    border: solid 2px black;
    border-radius: 100%;
    background-color: white;
}
.a-foto:hover{
    border: solid 2px rgb(0,147,128);
}
.article-text{

    text-align: center;
    padding: 1em;
}
.article-text p{
    margin: 1em;
}
.conteiner-to-me{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;      
    margin-bottom: 1em;  
    padding: 2em;
}
.link-to-me{
    background-color:rgb(56,90,100);
    padding: 1em;
    border: solid 1px grey;
    border-radius: 5px;
    color: white;
    margin:1em;
    text-align: center;
    text-decoration: none;
}
.link-to-me2{
    margin: 1em;
}
.link-to-me:hover{
    background-color: rgb(0,147,128);
}
.container-formacao-geral{
    margin-bottom: 1em;

}
.cont-formacao{
    display: grid;
    grid-template-columns: 1fr;
    gap:1em;
    align-items: center;
    justify-content: center;    
}
.cont-curso{
    width: 100%;
    border: solid 0.5px grey;
    box-sizing: border-box;
    border-radius: 5px;

}
.cont-curso:hover{
    border: solid 4px rgb(0,147,128);
}
.conteiner-icons{
    display: flex;
    justify-content: center;
    padding: 0 2em;
    gap: 1em;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}
.icon2{
    width: 90%;

}
.curso-title{
    font-size: 0.8em;
    text-align: center;
    background-color:rgb(56,90,100);
    color: white;
    height: 5em;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curso-title h2{
    margin: 0;
    padding: 00;
}
.curso-text{
    color: rgb(56,90,100);
}
.projetos-recentes-conteiner{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;      
    gap: 2.5em;
}
.card {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
  }
.card:hover{
    box-shadow: 0 0 4px 5px  rgb(0,147,128);
}
.card a {
    text-decoration: none
}

.content {
    padding: 1.1em;
  }
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  .image1{
    background-image: url("../imgs/acolher-e-cuidar\ thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image2{
    background-image: url("../imgs/residencial-montenegro-thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image3{
    background-image: url("../imgs/cronometro-thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }      
  .title {
    color: #111827;
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5em;
    color: #6B7280;
    font-size: 0.875em;
    line-height: 1.5em;
  }
  .button-conteiner{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
  .contato{
    
  }
  .conteiner-contato {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
 .logof{
    width: 60%;
 }
  
footer {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 1em;    
}
    
}

/* Estilos para smartphones em modo paisagem e tablets (de 481px a 768px) */
@media screen and (min-width: 481px) {
  /* smartphones em modo paisagem e tablets */
  body{
    padding: 1em;
  }
  .top-nav{
    background-color: white;
    text-align: center;
    color: black;
    display: none;   
    border-top: solid 0.02px rgba(224, 224, 224, 0.831);

}
.top-nav-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
}
.clearfix:after, .row:after{
    content: ' ';
    display: block;
    clear: both;
}
.top-header{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
}
.top-header-logo{
    width: 18em;
    text-align: center;
    align-items: center;
    padding: 0.8em;

}
.botao{
    background-color: white;
    border: none;
    text-align: center;
    align-items: center;
    color: rgb(0,147,128);
    font-size: 1.6em;
    padding: 0.6em 0.8em;
}
.menu_open{
    display: block;
    list-style:none;
}

.nav-link{
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-bottom: solid 0.02px rgba(224, 224, 224, 0.831);
}
.nav-link:hover{
    background-color: rgb(0,147,128);
    color: white;
}
.nav-link a{
    padding: 1em 9em;
}
.nav-link a:hover{
    color: white;
}
nav {
    padding: 0.4em;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: rgb(56,90,100);
    margin: 0;
    font-size: 1.1; 
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
}

main{
    padding: 1em;
}
.ref-title{
    color: rgb(56,90,100);
    margin: 0;
    text-align: center;
    padding: 0.1em;
    margin-bottom: 1em;
}

.conteiner{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1em;
}
.banner-text{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.banner-foto{
    width: 100%;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}
.foto{
    width: 100%;

}
.text-dec{
    padding: 1em;
    margin: 0;
}
.text-dec h1{
    margin: 0 0 0.5em 0;
}
.banner-text h1{
    font-size: 3em;
}

.banner-text p{
    font-size: 1.5em;
}
.conteiner-scrow{
    display: none;
    height: 3em;
    align-items:center;
    justify-content: space-between;
    gap: 1em;
    padding: 0 2.5em;   
    margin-bottom: 1em; 
}
.scrow{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
    width: 50%;
}
.scrow-text{
    font-size: 1.3em;
    color: rgb(56,90,100);
}

.scrow-icon{
    width: 5%;

    animation: swing .6s infinite alternate;
}   
.icon{
    width: 6.5%;
}
@keyframes swing {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(5px);
    }
}
.conteiner-about{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 1em;

} 
.sobre-mim{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    color: rgb(56,90,100);
    box-sizing: border-box;

} 
.article-foto{
    text-align: center;
    box-sizing: border-box;
}
.a-foto{
    width: 30%;
    border: solid 2px black;
    border-radius: 100%;
    background-color: white;
}
.a-foto:hover{
    border: solid 2px rgb(0,147,128);
}
.article-text{

    text-align: center;
    padding: 1em;
}
.article-text p{
    margin: 1em;
}
.conteiner-to-me{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;     
    margin: auto; 
    text-align:center ;
    margin-bottom: 1em;  
    padding: 1em 2em;
}
.link-to-me{
    background-color:rgb(56,90,100);
    padding: 0.5em;
    width: 80%;
    text-align: center;
    border: solid 1px grey;
    border-radius: 5px;
    color: white;
    margin: 1em auto;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;

}
.link-to-me2{
    margin: 1em;
}
.link-to-me:hover{
    background-color: rgb(0,147,128);
}
.container-formacao-geral{
    margin-bottom: 1em;

}
.cont-formacao{
    display: grid;
    grid-template-columns: 1fr;
    gap:1em;
    align-items: center;
    justify-content: center;    
}
.cont-curso{
    width: 100%;
    height: 9em;
    border: solid 0.5px grey;
    box-sizing: border-box;
    border-radius: 5px;

}
.cont-curso:hover{
    border: solid 4px rgb(0,147,128);
}
.conteiner-icons{
    display: flex;
    justify-content: center;
    padding: 0 2em;
    gap: 1em;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}
.icon2{
    width: 90%;

}
.curso-title{
    font-size: 0.8em;
    text-align: center;
    background-color:rgb(56,90,100);
    color: white;
    height: 5em;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curso-title h2{
    margin: 0;
    padding: 00;
}
.curso-text{
    color: rgb(56,90,100);
}
.projetos-recentes-conteiner{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;      
    gap: 2.5em;
}
.card {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
  }
.card:hover{
    box-shadow: 0 0 4px 5px  rgb(0,147,128);
}
.card a {
    text-decoration: none
}

.content {
    padding: 1.1em;
  }
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  .image1{
    background-image: url("../imgs/acolher-e-cuidar\ thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image2{
    background-image: url("../imgs/residencial-montenegro-thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image3{
    background-image: url("../imgs/cronometro-thumb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }      
  .title {
    color: #111827;
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5em;
    color: #6B7280;
    font-size: 0.875em;
    line-height: 1.5em;
  }
  .button-conteiner{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
  .contato{
    
  }
  .conteiner-contato {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
 .logof{
    width: 60%;
 }
  
footer {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 1em;    
}
  

}

/* Estilos para tablets em modo paisagem e desktops pequenos (de 769px a 1024px) */
@media screen and (min-width: 769px){
  /* tablets em modo paisagem e desktops pequenos */
    .banner-text{
        padding: 2em;
    }
    .banner-foto{
        width: 65%;
        margin: auto;
    }
    .link-to-me{
        width:60%;
    }
    .link-to-me2{
        margin: 1em;
    }
    .cont-formacao{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;
        align-items: center;
        justify-content: center;    
        padding: 1em;
    }
    .nav-link:hover{
        border-radius: 5px;
    }
    .icon2{
        width: 70%;
    
    }
    .card {
        width: 75%;
        margin: auto;
        margin-bottom: 2em;
      }
    .logof{
        width: 40%;
    }
    .contato{
    padding: 0 6em;
}

}

/* Estilos para desktops maiores e laptops (de 1025px em diante) */
@media screen and (min-width: 1025px) {
  /* desktops maiores e laptops  */
  .top-nav{
    display: block;
    border: none;
}
.top-header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
}
.top-header-logo{
    width: 100%;
    padding: 0;
    margin: 0;
}

.a-link{
    width: 17em;
}

.top-nav-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}
.botao{
    display: none;
}
.nav-link{
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    border: none;
    width: 10em;
}
  .top-header-logo{
    width: 70%;
  }
  body{
    padding: 0;
  }
  .nav-link{
    font-size: 1em;
  }
  .conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 80vh;
  }
    .nav-link a{
    padding: 0.5em;
}
.banner-foto{
    width: 85%;
}

.text-dec{
    border-left: solid 3px black;
    padding: 2em;
}
.conteiner-about{
    padding: 0 6em;    
} 
.sobre-mim{
    display: flex;
    background-color:rgb(56,90,100);
    text-align: left;
    align-items: center;
    justify-content: center;
    color: white;


} 
.article-foto{
    border-right: solid 2px black;
}
.a-foto{
    width: 60%;
}
.icon2{
    width: 40%;
}
.projetos-recentes-conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
}
.contato{
    padding: 0 12em;
}
.card {
    width: 100%;
    margin-bottom: 2em;
  }
  .logof{
    width: 25%;
}
.cont-formacao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1em;
    align-items: center;
    justify-content: center;    
    padding: 2em 1em;
}
.projetos-recentes-conteiner{
    padding: 0 2em;
}
.cont-curso::before{
    content: " ";
    position: absolute;
    top: -7px;
    width: 18px;
    height: 18px;
    margin-left: 9%;
    border-radius: 50%;
    background-color: rgb(56,90,100);
    z-index: 1;
}
.cont-curso::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(56,90,100);
    z-index: 0;
}
.conteiner-formacao{
    position: relative;
}
.icon2{
    width: 30%;
}

}




@media screen and (min-width: 1200px) {
  /* TVs ou telas de alta resolução */
  .top-header{
    justify-content:space-around;

  }
  .top-header-logo{
    width: 100%;
    margin: 0;
  }
  .a-link{
    width: 20em;
  }
  .contato{
    padding: 0 20em;
}
.main{
    padding: 0 1em;
}
.conteiner{
    height: 80vh;
}
.foto{
    width: 80%;
}
.logof{
    width: 20%;
}
.projetos-recentes-conteiner{

    align-items: center;
}
.link-to-me2{
    margin: 1em;
}



}
  

  



