.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
h1,h2,h3,h4,h5,h6, ul, li, p {
    margin: 0;
    padding: 0;
    color: black;
}
ul{
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}
li{
    display: flex;
    justify-content:space-between;
    background-color: bisque;
    margin: 0.2em 0;
    list-style-type: disc;
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word; 
    overflow-wrap: break-word;

}

.button-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 0.2em;
}
.conteiner-list{  

    width: 400px;
    height: 400px;
    background-color:azure;

}
.task-list{

    margin: auto;

}
.task-list-item{
    flex: 1;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    list-style: none;
}
.title-task-list{
    margin: auto;
    text-align: center;
    padding: .5em;
    background-color: white;
    color: black;
}
.task-list h3{
        color: black;
}