@charset "UTF-8";
html{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    font-family: "Oxygen", arial;
}
.button{
    display: inline-block;
    padding: .75em 1.75em;
    background-color: #002454;
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
}
i{
   font-size: 4em;
   margin: 0;
   padding: 0;
}
a{
    text-decoration: none;
}
.button:hover{
    background-color: #2a60ac; 
}
.img_btn{
    display: flex;
    justify-content: space-between;
}
.botao{
    background-color: white;
    border: none;
    text-align: center;
    align-items: center;
    color: #002454;
    margin-right: 1.5em;
}
.hidden{
    width: 0;
    height: 0;
    overflow:hidden;
    opacity: 0;
    display: block;
}
.clearfix:after, .row:after{
    content: ' ';
    display: block;
    clear: both;
}
.top-header{
    text-align: center;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 12em;
    background-color: white;
    border-bottom: solid 0.02px rgba(224, 224, 224, 0.831);
}
.top-header-logo{
    margin: 0.3em 0 0 2em;
    width: 11.9em;
    text-align: center;
    align-items: center;

}
.top-nav{
    background-color: white;
    text-align: center;
    color: black;
    display: none;   
    border-top: solid 0.02px rgba(224, 224, 224, 0.831);
    border-bottom: solid 0.02px rgba(224, 224, 224, 0.831);

}
.top-nav-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content:space-around;

}
.top-nav a{
    color: #002454;
    text-decoration: none;
    display: block;
    padding: 0.6em 0.2em 0.6em 0.2em;
    font-size: 2.5em;
}
.nav-link{
    text-align: center;
}
.nav-link1{
    margin-left: 1em;
}
.nav-link4{
    margin-right: 1em;
}
.top-nav a:hover{
    background-color:  #002454;
    color: white;
}
.top-content{
    padding: 15em 15em 5em 2em;
    text-align: center;
    background: #f6f6f6;
    background-image: url('../imagens/bg_banner.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 0.02px rgba(224, 224, 224, 0.831);
}
.top-content-title{
    color: white;
    font-size: 3em;
    background-color: rgba(00, 24, 54, 0.4);
    text-align: center;
    min-width: min-content;
    padding: 0.2em;
}
.top-content-subtitle{
    color: white;
    font-size: 2em;
    line-height: 1.5;
    background-color: rgba(00, 24, 54, 0.4);
    text-align: center;
    min-width: min-content;
    padding: 0.2em;
}
.menu_open{
    display: block;
}

.middle-content{
    padding: 3em;
    text-align: center;
    background-color: white;
}
.middle-content p{
    color: #2f2c2f;
    font-size: 2em;
    line-height: 1.5;
}
.middle-content-title{
    margin: 0.4em 1em 1em 1em;
    font-size: 2.5em;
    color: #002454;
    text-transform: uppercase;
}

.main-content{
    padding: 12em 3em 1em 3em;
    background: white;
}
.main-content-article{
    margin: 1em 1em 0 1em;
    text-align: center;
}
.main-content-title{
    font-size:2.5em;
    color: #002454;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 0.2em;
    text-align: center;
}
.main-content p{
    color: #2f2c2f;
    font-size: 2em;
    line-height: 1.5;
}
.map{
    width: 100%;
    margin: 1em auto 2em auto;
    text-align: center;
    align-items: center;
}
.maps{
    display: flex;
}
.residencial{
    width: 100%;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}




.footer-copy{
    background-color: #000000;
    color: #9da2ac;
    text-decoration: none;
    text-align: center;
    padding: 1.5em;
}
.footer-copy p{
    margin: 0;
    padding: 0.8em 2em;
    font-size: 1.5em;
}
.footer-copy a{
    text-decoration: none;
    color: #9da2ac;
}
.footer-main{
    list-style: none;
    background-color:#F3F3F5;
    display: flex;
    justify-content: space-around;
    padding: 1em 1em;
    align-items: center;
}
.footer-main ul{
    padding: 0 1em;
    margin: 0;
}
.footer-main li{
    list-style-type:circle;
}
.footer-main p{
    margin: 0.5em 0;
    color: black;
    font-size: 1.5em;
}
.footer-logo{
    width: 6em;
    align-items: center;
    text-align: center;
}
.google-form{
    padding: 14em 1em 0em 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}
.form{
    width: 100%;
    overflow: none;
}
.section-qrcode{
    border: solid 0.02px rgba(224, 224, 224, 0.831);
    margin: 0;
    margin-top: 1em;
}
.title-qrcode{
    font-size: 2.5em;
    color: #002454;
    text-transform: uppercase;    
    letter-spacing: 0.2em;
    text-align: center;
    padding: 0 2em;
}
.img-qrcode{
    width: 100%;
}
.img-att{
    width: 100%;
}
.p-F{
    font-weight: bold;
    text-decoration: underline;
}


@media(min-width: 63.75em){
    .top-nav{
        display: block;
        width: 35em;
        align-items: end;
        border-top: none;
    }
    .top-nav a{
        font-size: 1.1em;
    }
    .top-content{
        background-image: url('../imagens/bg_banner.jpg');
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 16em 35em 08em 2em;
        font-weight: bolder;
    }
    .top-content-title{
        max-width: max-content;
        align-items: center;
        margin: auto;
        font-size: 2em;
    }
    .top-content-subtitle{
        font-size: 1em;
    }
    .top-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0;
        position: fixed;
        width: 100%;
        height: 6em;
    }
    .top-header-logo{
        margin: 0.3em 0 0 2em;
        width: 4.9em;
        text-align: center;
        align-items: center;    
    }
    .middle-content p{
    font-size: 1.3em;
    }
    .middle-content-title{
    font-size: 2em;
    }
    i{
        font-size: 2.3em;
    }
    .col-1-4{
        width: 44%;
        margin: 3%;
        float: right;

    }
    .col-1-2{
        width: 48%;
        margin: 1%;
        float: left;
    }
    .main-content{
        padding: 5.5em 3em 2em 2em;
    }
    .main-content-title{
        font-size: 2.5em;
    }
    .main-content p{
        font-size: 1.2em;
    }
    .residencial{
        margin-top: 0;
    }
    .map{
        width: 80%;
    }
    .residencial{
        width: 100%;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 1em;
    }
    .section-qrcode{
        margin: 0.5%;
        margin-top: 2em;
    }
    .section-qrcode{
        margin: 0.5%;
    }
    .title-qrcode{
        font-size: 1.4em;
    }
    .google-form{
        padding: 6em 1em 0em 1em;
    }
    .form{
        height: 1480px;
    }
    .botao{
        display: none;
    }
    .img_btn{
        align-items: start;
    }
    .footer-copy{
        padding: 1em;
    }
    .footer-copy p{
        margin: 0;
        padding: 0.4em 1em;
        font-size: 1em;
    }
    .footer-main{
        border-top: solid 0.02px rgba(224, 224, 224, 0.831);
    }

    .footer-main p{
        font-size: 1em;
    }
    .footer-logo{
        width: 4em;
    }

}



@media screen and (min-width: 70em){
    .top-content{
        padding: 14em 50em 10em 2em;
    }
    .top-content-title{
        font-size: 2em;
    }
    .top-content-subtitle{
        font-size: 1.2em;
    }
    .middle-content{
        padding: 2em 2em 0.5em 2em;
    }
    .middle-content p{
        font-size: 1.05em;
    }
    .middle-content-title{
        font-size: 1.8em;
    }
    i{
        font-size: 1.8em;
    }
    .col-1-4{
        width: 22%;
        margin: 1.5%;
    }
    .col-1-2{
        width: 48%;
        margin: 1%;
        float: left;
    }
    .main-content{
        padding: 5em 9em 2em 4em;
    }
    .main-content-article p{
        letter-spacing: 0.1em;
    }
    .map{
        width: 80%;
    }
    .residencial{
        width: 70%;
        margin: 1.3em 0em 0em 0em;
    }
    .section-qrcode{
        margin: 0.5%;
    }

}